<section class="text-center" name="twitch">
  <h2 class="text-center">
    TWITCH LIVE STREAM
  </h2>
  </br>
  <object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=upennleagueoflegends" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=upennleagueoflegends&auto_play=true&start_volume=25" /></object>
</section>

<section class="text-center" name="youtube">
  <h2 class="text-center">
    YOUTUBE REPLAYS
  </h2>

  </br>
  <iframe width="640" height="360" src="//www.youtube.com/embed/uHicdu-Aivg" frameborder="0" allowfullscreen></iframe>

</section>

