<div name="image-wrapper">
  <img src="/images/logo.jpg" style="width:100%;">
</div>

<div class="container-fluid" id="info" name="info">

  <h2 class="centered text-center">INFO</h2>
  <hr>
  <div class="container">
  <div class="row">    
    <div class="col-lg-offset-1 col-lg-10">
      <div class="qa">
        <h2>What</h2>
        <p>         
          UPSL is the official League of Legends league, featuring
          a regular season and playoffs taking play over the course
          of the 2014 summer. The league is currently limited to UPenn students (including incoming Freshmen) and alumni.
        </p>
      </div>
      <div class="qa">
        <h2>Format</h2>
        <p>
          Registered players will be drafted into teams of a minimum of 6 (5 players and 1 sub). Captains will bechosen based off volunteers. Each player will receive a "Player Score" based on information given in the registration form (i.e. current division, MMR, and KDA). Captains will be given this list, along with other player information the day before the live draft. The pic order during the draft will be determined based upon the captain's scores. All palyers will be picked and it will be up to captains to make substitutions during the season.

        </br>
        </br>

          The regular season will run from June 1 - August 1. Each team will play one to two games against pre-determined teams each week. These games can be played at the convenience of the participating teams over the course of the week. Weeks run from Saturday-Friday and all games must be played a reported by Saturday @ 2AM. Depending on the number of teams, a playoff schedule and finals will be determined.
          The format will be round-robin group stage qualifiers. The top teams from qualifiers will move on to the knock-out plays-off.
        </p>
      </div>
      <div class="qa">
        <h2>Prizes</h2>
        <p>
          Assortment of Riot gears are available as prizes. Additionally, each member of the winning team will receive $25 worth of RP.
        </p>
      </div>
      <div class="qa">
        <h2>Location</h2>
        <p>
          Wherever you can get an internet connection!
        </p>
      </div>        
    </div><!-- col-lg -->
  </div><!-- row -->
</div>
</div>

<br>
<br>
<!-- <div class="container-fluid text-center" id="upcoming-match">
  <h2 style="color:#CD2626"> Upcoming Match </h2>     
  <table class="schedule table table-responsive">
    <tr class="text-center" ng-repeat="match in week.matches">
      <td class="col-sm-3"><h3> {{match.team1}} </h3></td>
      <td class="col-sm-3 vs-icon"> 
        <img style="width:80px;height:80px" src="/images/vs.png">
        </br>
        <h4> {{match.date}} </h4> 
        <h4> {{match.time}} </h4>
      </td>
      <td class="col-sm-3"><h3> {{match.team2}} </h3></td>
    </tr>
  </table>
</div>
 -->
<div id="footerwrap">
  Created by Vincent Do for UPSL - Copyright 2014
</div>






