<div class="container">
  <div class="page-header text-center">
    <h2> User Profile </h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      General Info
    </div>
    <div class="panel-body">
      <label> Full Name </label>
      <input type="text" class="form-control" ng-model="fullName" placeholder="First Last">

      <br>

      <label> Phone Number </label>
      <input type="text" class="form-control" ng-model="phoneNumber" placeholder="XXX-XXX-XXXX">

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Game Info
    </div>
    <div class="panel-body">
      <label>Summoner Name</label>
      <input type="text" class="form-control" ng-model="summonnername" placeholder="Faker">
     
      <br>

      <div class="row">
        <div ng-controller="PrimaryRoleCtrl">
          <div class="form-group col-xs-4">
            <label>Primary Role</label>
            <select class="form-control" ng-model="primaryRole" ng-options="role.name for role in roles">
            </select>
          </div>
          <div class="form-group col-xs-4">      
            <label>Secondary Role</label>
            <select class="form-control" ng-model="secondaryRole" ng-options="role.name for role in roles">
          </div>
        </div> 
      </div>      
    </div>
</div>
