<div class="container-fluid">
  <h1 class="text-center"> ROSTER </h1>
  <div class="row-fluid">
    <div ng-repeat="team in teams | orderBy:'name'">
      <h3> {{team.name}}</h3>
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Summoner Name</th>
            <th>Rank</th>
            <th>Primary Role</th>
            <th>Secondary Role</th>
            <!-- <th>Draft Price</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="member in team.members | orderBy:'-ELO'">
            <td> 
              {{member.PlayerName}}
              <img class="captain" src="/images/captain.png" ng-if="member.Price == 'CAPTAIN'">
            </td>
            <td><a href="http://na.op.gg/summoner/userName={{member.SummonerName}}">{{member.SummonerName}}</a></td>
            <td class="rank-icon" ng-if="member.ELO < 1150"> 
              <img src="/images/bronze.png">
            </td>
            <td class="rank-icon" ng-if="member.ELO >= 1150 && member.ELO < 1500"> 
              <img src="/images/silver.png">
            </td>
            <td class="rank-icon" ng-if="member.ELO >= 1500 && member.ELO < 1850"> 
              <img src="/images/gold.png">
            </td>
            <td class="rank-icon" ng-if="member.ELO >= 1850 && member.ELO < 2200"> 
              <img src="/images/platinum.png">
            </td>
            <td class="rank-icon" ng-if="member.ELO > 2200"> 
              <img src="/images/diamond.png">
            </td>
            <td> {{member.PrimaryRole}}</td>
            <td> {{member.SecondaryRole}}</td>
            <!-- <td> {{member.Price}}</td> -->
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
</div>