<div class="container-fluid">
  <div class="row-fluid" ng-repeat="week in weeks">
    <h2 class="text-center"> Week {{week.number}} </h3>
    <div class="container text-center">
      <table class="schedule table table-responsive">
        <tr ng-repeat="match in week.matches">
          <td><h3> {{match.team1}} </h3></td>
          <td class="vs-icon"> 
            <img src="/images/vs.png"> 
          </td>
          <td><h3> {{match.team2}} </h3></td>
        </tr>
      </table>
    </div>
  </div>
</div>